[submodule "themes/basic"]
	path = themes/basic
	url = https://github.com/siegerts/hugo-theme-basic.git
[submodule "public"]
	path = public
	url = https://github.com/jmg-duarte/jmg-duarte.github.io
[submodule "themes/cactus"]
	path = themes/cactus
	url = https://github.com/monkeyWzr/hugo-theme-cactus.git
