# [submodule "themes/basic"]
# 	path = themes/basic
# 	url = https://github.com/siegerts/hugo-theme-basic.git
[submodule "themes/cactus"]
	path = themes/cactus
	url = https://github.com/monkeyWzr/hugo-theme-cactus.git
